* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

.slideshow-elments {}

.slideshow-element {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s ease-in-out;
}

.slideshow-element i, h2 {
    font-size: 10rem;
    color: coral;
}

.slideshow-element i {
    margin-bottom: 3rem;
}

.current {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s ease-in-out;

}

